<div class="sidebar">

    <div class="logo">
        <mat-icon>movie</mat-icon>
        <span>Creator Studio AI</span>
    </div>

    <mat-nav-list>

        <a mat-list-item>
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <span matListItemTitle>Dashboard</span>
        </a>

        <a mat-list-item>
            <mat-icon matListItemIcon>folder</mat-icon>
            <span matListItemTitle>Projects</span>
        </a>

        <a mat-list-item>
            <mat-icon matListItemIcon>auto_stories</mat-icon>
            <span matListItemTitle>Story Generator</span>
        </a>

        <a mat-list-item>
            <mat-icon matListItemIcon>theater_comedy</mat-icon>
            <span matListItemTitle>Scene Generator</span>
        </a>

        <a mat-list-item>
            <mat-icon matListItemIcon>lightbulb</mat-icon>
            <span matListItemTitle>Prompt Generator</span>
        </a>

        <a mat-list-item>
            <mat-icon matListItemIcon>image</mat-icon>
            <span matListItemTitle>Image Studio</span>
        </a>

        <a mat-list-item>
            <mat-icon matListItemIcon>movie_creation</mat-icon>
            <span matListItemTitle>Video Studio</span>
        </a>

        <a mat-list-item>
            <mat-icon matListItemIcon>mic</mat-icon>
            <span matListItemTitle>Voice Studio</span>
        </a>

        <a mat-list-item>
            <mat-icon matListItemIcon>record_voice_over</mat-icon>
            <span matListItemTitle>Lip Sync</span>
        </a>

        <a mat-list-item>
            <mat-icon matListItemIcon>cloud_upload</mat-icon>
            <span matListItemTitle>Render Queue</span>
        </a>

        <a mat-list-item>
            <mat-icon matListItemIcon>settings</mat-icon>
            <span matListItemTitle>Settings</span>
        </a>

    </mat-nav-list>

</div>