@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background: #0F172A;
  color: white;
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

/* Global Overrides */

.mdc-list-item__primary-text {
  color: white !important;
  opacity: 1 !important;
}

.mat-mdc-list-item-unscoped-content {
  color: white !important;
  opacity: 1 !important;
}

.mat-mdc-list-item {
  color: white !important;
}

.mat-mdc-list-item * {
  color: inherit;
}

/* App Background Fix */

html,
body {
  margin: 0;
  height: 100%;
  background: #0F172A;
}